*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: rgb(255, 255, 255);
    font-size: small;
}

body{
    background-color: bisque;
}

.logo{
    padding-left: 50px;
}

.logoimg{
    width: 50%;
    border: 3px solid white ;
    border-radius: 50px ;
}

.rightnav{
    width: 50%;
    text-align: right;
    padding-top: 40px;
    padding-right: 10px;
}

.navbar{
    display:flex;
}

.navlist li a{
    text-decoration: none;
    color: aliceblue;
}

.navlist li :hover{
    color: rgb(255, 0, 0) ;
    background-color: white;
}

.navlist{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.navlist li{
    list-style: none;
    padding: 25px;
}

#search{
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 5px;
}

.background{
    background: rgba(0,0,0,0.7) url(bg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

.Nature{
    width:100px;
    height:120px;
}

.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 50%;
    margin: auto;
}

.firsthalf{
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.secondhalf{
 width: 30%;   
}